# Порты на хосте
STATIONEERS_GAME_PORT=27016
STATIONEERS_QUERY_PORT=27015

# Аргументы сервера (пример: новая лунная станция MyLunarMap)
# -file start <StationName> <WorldID> [Difficulty] [StartCondition] [StartLocation]
# Подробнее: см. README или гайд Stationeers Dedicated Server Guide
STATIONEERS_ARGS=-file start MyLunarMap Lunar Normal DefaultStart LunarSpawnCraterVesper -logFile "./server.log" -settings StartLocalHost true ServerVisible true GamePort 27016 UpdatePort 27015 ServerName "MyLunarServer" ServerPassword "" ServerMaxPlayers 6 AutoSave true SaveInterval 300 UseSteamP2P false

# Бэкапы
BACKUP_CRON=*/30 * * * *
BACKUP_KEEP_DAYS=14
