# Порты на хосте
STATIONEERS_GAME_PORT=27016
STATIONEERS_QUERY_PORT=27015

# Moon (подхватывает сейв из ./data/saves/Moon)
# Важно: worldname должен совпадать с названием папки сейва
STATIONEERS_ARGS=-worldtype=Moon -worldname=Moon

# Бэкапы
BACKUP_CRON=*/30 * * * *
BACKUP_KEEP_DAYS=14
